
<launch>

  <node name="drone1" pkg="crazyswarm" type="ros_action_server.py"/>
    <remap to="drone1detect_perimeter" from="detect_perimeter"/>

  <node name="drone2" pkg="crazyswarm" type="ros_action_server.py"/>
    <remap to="drone2detect_perimeter" from="detect_perimeter"/>

  <!--<node name="drone3" pkg="crazyswarm" type="ros_action_server.py"/>
    <remap to="drone3detect_perimeter" from="drone2detect_perimeter"/>-->

</launch>
